@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #0f0f10;
	color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: white !important;
	-webkit-box-shadow: 0 0 0 30px #000 inset !important;
}
